APP_NAME=ScottiBYTE Incus Mobile Server
PORT=3088
DATA_DIR=./data

ADMIN_TOKEN=change-this-admin-token
REFRESH_INTERVAL_SECONDS=30

INCUS_REMOTES=vmsmist,vmsrain,vmsstorm,mondo-2

ADMIN_BYPASS_MOBILE_AUTH=true
MOBILE_ACTIONS_ENABLED=false
MOBILE_PROTECTED_INSTANCES=IncusMobileServer
